In [49]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [50]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [51]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/Breast_cancer/dataR2.csv')

In [52]:
df.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [53]:
df.columns

Index(['Age', 'BMI', 'Glucose', 'Insulin', 'HOMA', 'Leptin', 'Adiponectin',
       'Resistin', 'MCP.1', 'Classification'],
      dtype='object')

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             116 non-null    int64
 1   BMI             116 non-null    float64
 2   Glucose         116 non-null    int64
 3   Insulin         116 non-null    float64
 4   HOMA            116 non-null    float64
 5   Leptin          116 non-null    float64
 6   Adiponectin     116 non-null    float64
 7   Resistin        116 non-null    float64
 8   MCP.1           116 non-null    float64
 9   Classification  116 non-null    int64
dtypes: float64(7), int64(3)
memory usage: 9.2 KB

In [55]:
df.isnull().sum()

Age               0
BMI               0
Glucose           0
Insulin           0
HOMA              0
Leptin            0
Adiponectin       0
Resistin          0
MCP.1             0
Classification    0
dtype: int64

In [56]:
df_x = df.drop(['Classification'],axis=1)
df_y = df['Classification']

In [57]:
df.corr()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
Age,1.000000,0.008530,0.230106,0.032495,0.127033,0.102626,-0.219813,0.002742,0.013462,-0.043555
BMI,0.008530,1.000000,0.138845,0.145295,0.114480,0.569593,-0.302735,0.195350,0.224038,-0.132586
Glucose,0.230106,0.138845,1.000000,0.504653,0.696212,0.305080,-0.122121,0.291327,0.264879,0.384315
Insulin,0.032495,0.145295,0.504653,1.000000,0.932198,0.301462,-0.031296,0.146731,0.174356,0.276804
HOMA,0.127033,0.114480,0.696212,0.932198,1.000000,0.327210,-0.056337,0.231101,0.259529,0.284012
Leptin,0.102626,0.569593,0.305080,0.301462,0.327210,1.000000,-0.095389,0.256234,0.014009,-0.001078
Adiponectin,-0.219813,-0.302735,-0.122121,-0.031296,-0.056337,-0.095389,1.000000,-0.252363,-0.200694,-0.019490
Resistin,0.002742,0.195350,0.291327,0.146731,0.231101,0.256234,-0.252363,1.000000,0.366474,0.227310
MCP.1,0.013462,0.224038,0.264879,0.174356,0.259529,0.014009,-0.200694,0.366474,1.000000,0.091381
Classification,-0.043555,-0.132586,0.384315,0.276804,0.284012,-0.001078,-0.019490,0.227310,0.091381,1.000000

In [58]:
df_x = StandardScaler().fit_transform(df_x)

In [59]:
#X_train,X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=33)

In [60]:
Kvals = [2,3,5,11,21,31]
Mvals = [10,20,30,40,50,60,70,80,90,100]
Acc = []

In [61]:
for m in Mvals:
  for k in Kvals:
    skf = StratifiedKFold(n_splits=k,random_state = 33,shuffle = True)
    #kf = KFold(n_splits=k,shuffle=False)
    for train,test in skf.split(df_x,df_y):
      x_train=df_x[train]
      y_train=df_y[train]
      x_test=df_x[test]
      y_test=df_y[test]
      DTC = DecisionTreeClassifier(criterion='gini',max_depth=m)
      DTC.fit(x_train,y_train)
      #print(DTC.score(x_test,y_test))
      Acc.append(DTC.score(x_test,y_test))
  #print(k)

In [62]:
np.mean(Acc)

0.7222400233726871

In [63]:
Acc_entropy= []
Acc_log = []

In [64]:
for m in Mvals:
  for k in Kvals:
    skf = StratifiedKFold(n_splits=k,random_state = 33,shuffle = True)
    #kf = KFold(n_splits=k,shuffle=False)
    for train,test in skf.split(df_x,df_y):
      x_train=df_x[train]
      y_train=df_y[train]
      x_test=df_x[test]
      y_test=df_y[test]
      DTC = DecisionTreeClassifier(criterion='entropy',max_depth=m)
      DTC.fit(x_train,y_train)
      #print(DTC.score(x_test,y_test))
      Acc_entropy.append(DTC.score(x_test,y_test))
  #print(k)

In [65]:
for m in Mvals:
  for k in Kvals:
    skf = StratifiedKFold(n_splits=k,random_state = 33,shuffle = True)
    #kf = KFold(n_splits=k,shuffle=False)
    for train,test in skf.split(df_x,df_y):
      x_train=df_x[train]
      y_train=df_y[train]
      x_test=df_x[test]
      y_test=df_y[test]
      DTC = DecisionTreeClassifier(criterion='log_loss',max_depth=m)
      DTC.fit(x_train,y_train)
      #print(DTC.score(x_test,y_test))
      Acc_log.append(DTC.score(x_test,y_test))
  #print(k)

In [66]:
np.mean(Acc_entropy)

0.6919137579366774

In [67]:
np.mean(Acc_log)

0.6893158212326269